.dash-transaction-table {
  border-radius: 15px;
  padding: 5px 25px 5px 25px;
  background-color: #ffffff;
}
.dash-transaction-table-info {
  line-height: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.dash-arrow-category-name-container {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dash-arrow-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.up-status-arrow {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: #16dbaa;
}
.down-status-arrow {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: #fe5c73;
}
.dash-spend-money-name {
  color: #505887;
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 0px 10px;
  /* padding: 0px; */
}
.dash-category-name {
  color: #718ebf;
  font-size: 16px;
  font-weight: 400;
}
.dash-date-edit-delete-container {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dash-date-text {
  color: #718ebf;
  font-size: 16px;
  font-weight: 400;
}
.dash-amount-text {
  color: #16dbaa;
  text-align: start;
  font-size: 16px;
  font-weight: 500;
}
.dash-amount-text-active {
  color: #fe5c73;
}
.dash-edit-delete-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.dash-delte-icon {
  width: 21px;
  height: 22px;
  flex-shrink: 0;
  color: #fe5c73;
  cursor: pointer;
}
.dash-edit-icon {
  width: 21px;
  height: 22px;
  flex-shrink: 0;
  color: #2d60ff;
  cursor: pointer;
  margin-right: 15px;
}
.delete-edit-button {
  background-color: transparent;
  border: none;
}
.admin-images {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
