/* nav heading */

.nav-heading {
  font-size: 24px;
  color: #343c6a;
}
.dash-heading-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* nav button code */

.transaction-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 4px;
  border-radius: 8px;
  border: none;
  background-color: #2d60ff;
  cursor: pointer;
}
.add-transaction-text {
  margin: 0px;
  font-size: 14px;
  color: #ffffff;
}
.plus-icon {
  color: #ffffff;
}
