.debit-credit-menu-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  /* border: 1px dotted blue; */
}
.debit-credit-list-item {
  list-style-type: none;
  margin-right: 20px;
}
.debit-credit-menu {
  text-decoration: dotted;
  color: #718ebf;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.selectedTrans {
  border-bottom: 2px solid #2d60ff;
  border-radius: 2px;
}
